---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="row">
        <div class="page-header">
            <h1>check your inbox!</h1>
        </div>
    </div>
    <div class="row">
        <div>
            <p>we've sent a magic link to verify it's you.</p>
            <p>didn't arrive? wait a little while, check your spam folder, etc. etc. etc.</p>
        </div>
    </div>
</Layout>